<h2>More details on your property</h2>

<p>Uploaded by: <%= @user.fullname %></p>
<p>Description: <%=@property.description %></p>
<p>Located at: <%=@property.location %></p>
<p>How much?: <%=@property.price %></p>

<a href="/properties/<%=@property.id%>/edit"><button type="button" name="update_button">Update!</button></a>
<a href="/properties/<%=@property.id%>/delete"><button type="button" name="delete_button">Delete!</button></a>



